@font-face {
    font-family: CentraNo2-Medium;
    src: url(./fonts/CentraNo2-Medium.ttf);
}
@font-face {
    font-family: CentraNo2-Book;
    src: url(./fonts/CentraNo2-Book.ttf);
}
@font-face {
    font-family: CentraNo2-Light;
    src: url(./fonts/CentraNo2-Light.ttf);
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.home-container{
    background: url(./images/Background\ 18.png) no-repeat center center;
    background-size: cover;
    min-height: 100vh;
    max-width: 100%;
    color: white;
}
li{
    list-style: none;
}
.home-container a{
    color: white;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 3em;
}
.nav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4em;
}
.nav-branding{
    font-size: 1.5em;
    font-family: CentraNo2-Book;
}
.nav-item{
    font-size: 1.3em;
    font-family: CentraNo2-Light;
}
.nav-link{
    display: inline-block;
    padding-bottom: 0.25rem;
    position: relative;
}
.nav-link::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #2A899D;
    transition: 0.25s ease-in-out;
}
.nav-link:hover::before{
    width: 100%;
    left: 0;
    right: auto;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 2em;
    height: 0.2em;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
@media(max-width:810px){
    .hamburger{
        display: block;
    }
    .hamburger.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: absolute;
        left: -100%;
        top: 10vh;
        gap: 0;
        flex-direction: column;
        justify-content: space-around;
        background-color: #2A899D;
        width: 100%;
        height: 93vh;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 1em 0;
    }
    .nav-link{
        text-decoration: underline;
    }
    .nav-link:hover{
        color: black;
    }
    .nav-menu.active{
        left: 0;
    }
}
.home-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}
.title-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
    max-width: 70%;
}
#home-sub-title{
    font-family: CentraNo2-Light;
    font-size: 2em;
}
#home-title{
    font-family: CentraNo2-Medium;
    font-size: 2em;
}
.home-content button{
    background-color: transparent;
    padding: 1.5em 3em;
    border: 0.2em solid white;
    color: white;
    font-family: CentraNo2-Medium;
    cursor: pointer;
}
.home-content button:hover{
    background-color: white;
    padding: 1.5em 3em;
    border: 0.2em solid white;
    color: black;
    font-family: CentraNo2-Medium;
    transition: 0.2s;
}
.arrow{
    position: absolute;
    bottom: 9%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #2A899D;
    border-right: 5px solid #2A899D;
    transform: rotate(45deg);
    margin: -10px;
    animation: scroll 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes scroll {
0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px);
}
50%{
    opacity: 1;
}
100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px);
}      
}
@media (max-width:700px){
    .arrow{
        position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    }
}
@media (max-width:480px){
    .arrow{
        display: none;
    }
}
.about{
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6em;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#about-title{
    font-size: 45px;
    font-family: CentraNo2-Book;
}
.about hr{
    border: 0.125em solid #2A899D;
    background-color: #2A899D;
    width: 5em;
}
.about-picture{
box-shadow:rgb(255, 255, 255) -15px 15px 0px -5px, rgb(42, 137, 157) -15px 15px}

.about .content img{
    height: auto;
    width: 600px;
    max-width: 100%;
}
.content{
    width: 80em;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.text{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}
.text h1{
    color: #2A899D;
    font-size: 85px;
    margin-bottom: 20px;
    font-family: CentraNo2-Light;
}
.text h5{
    color: #2A899D;
    font-size: 25px;
    margin-bottom: 20px;
    letter-spacing: 2px;
    font-family: CentraNo2-Light;
}
.text p{
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 45px;
    letter-spacing: 1px;
    font-family: CentraNo2-Light;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socials-button{
    display: flex;
    gap: 1.25em;
}
#about-button{
    background-color: #2A899D;
    padding: 1.5em 3em;
    border: 0.2em solid #2A899D;
    color: white;
    font-family: CentraNo2-Medium;
    cursor: pointer;
}
#about-button:hover{
    background-color: #e9fcff;
    padding: 1.5em 3em;
    border: 0.2em solid #2A899D;
    color: #2A899D;
    font-family: CentraNo2-Medium;
    transition: 0.2s;
}
.fa-linkedin{
    color: #2A899D;
    font-size: 4em;
    cursor: pointer;
}
.fa-linkedin:hover{
    color: #7acada;
    transition: 0.2s;
    }
.fa-github{
    color: #2A899D;
    font-size: 4em;
    cursor: pointer;
}
.fa-github:hover{
    color: #7acada;
    transition: 0.2s;
    }
@media screen and (max-width: 1180px) {
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
@media screen and (max-width: 650px) {
    .about .content img{
        margin-bottom: 35px;
    }
    .text h1{
        font-size: 60px;
        margin-bottom: 25px;
    }
}
@media screen and (min-width:650px) {
    .about{
        width: 100%;
        height: auto;
        padding: 70px 0px;
    }
}
.scroll-top{
    position: relative;
    height: 55px;
}
.fa-circle-arrow-up{
    position: absolute;
    right: 0;
    color: #09b4f7;
    font-size: 3em;
    margin: 0 0.3em 0.3em 0;
    align-self: flex-end;
}
.fa-circle-arrow-up:hover{
    color: #7acada;
    transition: 0.2s;
}
#skills-section{
    background: url(./images/Background\ 20.png);
}
.inner{
    max-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6em;
    padding: 6em 0;
}
#skills-title{
    font-size: 45px;
    font-family: CentraNo2-Book;
    color: white;
}
.inner hr{
    border: 0.125em solid #2A899D;
    background-color: #2A899D;
    width: 5em;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
    gap: 5rem;
    padding: 8rem 80px;
    font-size: 1.2rem;
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 100px;
    border-radius: 2px;
}
.skill-box{
    padding: 1rem;
    color: #ddd;
}
.skill-box p{
    font-family: CentraNo2-Light;
}
.skill-box:hover > .skill-title::after, .skill-box:hover > .skill-title::before{
    width: 35px;
}
.skill-box:hover .img{
    transform: translateY(-10px);
}
.skill-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}
.skill-title h3{
    font-family: CentraNo2-Light;
}
.skill-title::after{
content: '';
position: absolute;
bottom: 0;
left: 50%;
width: 0;
border: 0.125em solid #2A899D;
    background-color: #2A899D;
transition: .5s;
}
.skill-title::before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 0;
    border: 0.125em solid #2A899D;
    background-color: #2A899D;
    transition: .5s;
    }
.img{
    width: 112px;
    height: 112px;
    position: relative;
    border-radius: 62px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}
.img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 112px;
    background: rgba(100, 100, 100, 0.5);
    border-radius: 62px 0 0 62px;
}
.skill-title h3{
    color: #fff;
    margin-top: 0.5rem;
}
.skill-icon{
    width: 50px;
    z-index: 2;
}

@media screen and (max-width: 990px){
.container{
grid-template-columns: repeat(2, 1fr);
padding: 2rem 50px;
}
}

@media screen and (max-width: 650px){
    .container{
    grid-template-columns: 1fr;
    padding: 2rem 50px;
    }
    }
#projects-section{
    background-color: #e6e6e6;
}
.projects-container{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6em;
    padding: 6em 0;
}
#about-title{
    font-size: 45px;
    font-family: CentraNo2-Book;
}
.title hr{
    border: 0.125em solid #2A899D;
    background-color: #2A899D;
    width: 5em;
}
.projects-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 1rem 80px;
    font-size: 1.2rem;
}
.card{
    border-radius: 0.5em;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 0.3s;
}
.projects-title{
    font-size: 1.5em;
    font-family: CentraNo2-Light;
}
.rps-image{
    background: url(./images/rps.jpg) center/cover;
    height: 200px;
    width: 100%;
}
.etch-image{
    background: url(./images/etch.jpg) center/cover;
    height: 200px;
    width: 100%;
}
.calculator-image{
    background: url(./images/calculator.jpg) center/cover;
    height: 200px;
    width: 100%;
}
.signup-image{
    background: url(./images/signup.jpg) center/cover;
    height: 200px;
    width: 100%;
}
.admin-image{
    background: url(./images/landing-page.JPG) center/cover;
    height: 200px;
    width: 100%;
}
.soon-image{
    background: url(./images/soon.jpg) center/cover;
    height: 200px;
    width: 100%;
}
.top-card{
    padding: 20px;
}
.bottom-card{
    padding: 20px;
}
.button-text{
    font-size: 1em;
    font-family: CentraNo2-Light;
}
.actions-card{
padding-top: 1em;
}
#live-demo-button{
    background-color: #2A899D;
    padding: 1.5em 3em;
    border: 0.2em solid #2A899D;
    color: white;
    font-family: CentraNo2-Medium;
    cursor: pointer;
}
#live-demo-button:hover{
    background-color: #e9fcff;
    padding: 1.5em 3em;
    border: 0.2em solid #2A899D;
    color: #2A899D;
    font-family: CentraNo2-Medium;
    transition: 0.2s;
}
#code-button{
    background-color: #e9fcff;
    padding: 1.5em 3em;
    border: 0.2em solid #2A899D;
    color: #2A899D;
    font-family: CentraNo2-Medium;
    cursor: pointer;
}
#code-button:hover{
    background-color: #2A899D;
    padding: 1.5em 3em;
    border: 0.2em solid #2A899D;
    color: white;
    font-family: CentraNo2-Medium;
    transition: 0.2s;
}
@media screen and (max-width: 1162px){
    .projects-content{
    grid-template-columns: repeat(2, 1fr);
    }
    }
    @media screen and (max-width: 820px){
        .projects-content{
        grid-template-columns: 1fr;
        }
        }
.resume-container{
    min-height: 45vh;
    background: url(./Background\ 6.jpg) no-repeat center center;
    background-size: cover;
    color: white;
}
.contact-container{
    min-height: 45vh;
}
footer{
    background-color: black;
    min-height: 10vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.footer-text{
    font-size: 1em;
    font-family: CentraNo2-Light;
    color: white;
}
.footer-text a{
    text-decoration: none;
    color: #2A899D;
    transition: 0.2s;
}
.footer-text a:hover{
    color: #7acada;
}
.footer-box hr{
    height: 3.5em;
}
.socials-button-footer{
    display: flex;
    gap: 1em;
}

@media (max-width:660px){
    .footer-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 1em 0;
    }
    .footer-box hr{
        height: 0.1em;
        width: 5.3em;
    }
}
@media (max-width:480px){
    .actions-card{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5em;
        }
}
@media (max-width:450px){
    .footer-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 0 1em;
    }
}